<html>

<head>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
<script src='myScript.js' defer></script>
<style>
    .win {
        color: blue;
    }

    .lose {
        color: red;
    }

    .draw {
        color: green;
    }
</style>

<body class='mx-5 bg-primary'>

    <script type="text/x-template" id="navigation-detail">
        <div>
            <nav class="navbar navbar-dark bg-secondary">
                <span class="navbar-brand mb-0 h1">E-28 HW1</span>
            </nav>
        </div>
    </script>

    <script type="text/x-template" id="component-detail">
        <div>
        <br>
        Computer Selection: {{computer}}

        <br>
        Your Selection: {{user}}

        <br>
        {{feedback}}
        </div>
    </script>

    <div id='gameP1' @keyup.enter='runGame'>


        <navigation-header></navigation-header>


        <div class="card text-white bg-success">
            <div class="card-header">Rock Paper Scissors</div>
            <div class="card-body">
                <h5 class="card-title">Make a Choice</h5>
                <p class="card-text">
                    <label>Please Make Your Selection
                        <input type='radio' id='rock' value='rock' v-model='tempSelection'>
                        Rock
                        <input type='radio' id='paper' value='paper' v-model='tempSelection'>
                        Paper
                        <input type='radio' id='scissors' value='scissors' v-model='tempSelection'>
                        Scissors
                    </label>
                    <button @click='runGame'>Submit</button>

                <div v-if='gameStarted'>
                    <game-feedback :user=selection :computer=computerSelection :class='{win: isWin, lose: isLose, draw: isDraw}'></game-feedback>

                    <div class="card text-white bg-success">
                        <div class="card-header">History</div>
                        <div class="card-body">
                            <p class="card-text">
                            <div class='row'>
                                <div class='col'>
                                    <h5>Score</h5>
                                    Computer: {{runningScore.computerWin}}
                                    <br>
                                    Player: {{runningScore.playerWin}}
                                    <br>
                                    Draw: {{runningScore.draw}}
                                    <br>
                                </div>
                                <div class='col'>
                                    <h5>Results</h5>
                                    <span v-for='(winner, index) in gameHistory'>
                                        Round: {{index +1}}, Winner: {{winner}}<br>
                                    </span>
                                </div>
                            </div>

                            <button @click='resetHistory'> Reset Game</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </p>

    </div>



    This is a local domain is located at /Applications/XAMPP/htdocs/e28/practice

</body>

</html>